.editor-block {
  position: absolute;
  $space: 0;
  &::after {
    content: '';
    position: absolute;
    top: $space;
    left: $space;
    right: $space;
    bottom: $space;
    width: inherit;
    height: inherit;
  }
  &.focus {
    &::after {
      border: 1px dashed #3f9eff;
    }
  } 
}