.dropdown-service {
    position: fixed;
    z-index: 1000;
    padding: 8px 0;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition:  opacity 200ms linear;
    &.dropdown-service-show {
        opacity: 1;
        pointer-events: auto;
    }
    .dropdown-service__option {
            padding: 5px 12px;
        & > i {
            margin-right: 4px;
        }
        &:hover {
            background-color: #ccc;
            cursor: pointer;
        }
    }
}