$prefix: "ly-visual-editor";

$lrWidth: 270px;
$gap: 10px;
$canvasGap: 0;
$headerBtngroupHeight: 60px;
$containerBorder: 2px;
$containerBg: rgba(#000, 0.1);
.#{$prefix} {
  width: 100%;
  height: 100%;
  border: $containerBorder solid $containerBg;
  box-sizing: border-box;
  &-left, &-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $lrWidth;
    background-color: rgba(#fff, 0.6);
    margin: $containerBorder;
  }
  &-left {
    left: 0;
    .editor-left-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 0 10px;
      border: 2px solid #cfd3df;
      user-select: none;
      min-height: 80px;
      overflow: hidden;
      border-radius: 3px;
      box-sizing: border-box;
      &:hover {
        box-sizing: border-box;
        border: 2px solid #409eff;
      }
      &.drag::after {
        cursor: move;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }
      span {
        opacity: 0.3;
      }
      p.label {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #409eff;
        color: #fff;
        padding: 2px 10px;
      }
    }
  }
  &-right {
    right: 0;
  }
  &-top {
    position: absolute;
    left: $lrWidth;
    right: $lrWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $gap;
    height: $headerBtngroupHeight;
    box-sizing: border-box;
    .btn {
      position: relative;
      padding: 2px 5px;
      cursor: pointer;
      background-color: rgba(#8f8f8f, 0.5);
      &:hover {
        background-color: #aaa;
        span {
          color: #fff;
        }
      }
      &.gap:not(:last-child) {
        border-right: 1px solid #fff;
      }
      &.gap:first-child {
        border-radius: 3px 0 0 3px;
      }
      &.gap:last-child {
        border-radius: 0 3px 3px 0;
      }
      .tip {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        display: none;
        width: 100%;
      }
      &:hover .tip {
        display: block;
      }
    }
  }
  &-container {
    padding: $headerBtngroupHeight $lrWidth + $canvasGap 0;
    height: 100%;
    box-sizing: border-box;
    background-color: $containerBg;
    &-canvas { // 产生滚动条
      height: 100%;
      &-content {
        position: relative;
        background-color: rgba(#fff, 0.6);
        width: 500px;  
        height: 600px;
        margin: 5px auto;
        user-select: none;
        box-sizing: border-box;
        &.isEditOrpreview {
          box-sizing: border-box;
          border: 1px dashed #3f9eff;
        }
        &.preview {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .editor-block {
          position: absolute;
        }
      }
    }
  }

}


.#{$prefix}-preview {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  .preview-editor {
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      background-color: #ddd;
      color: #fff;
    }
  }
}

/* 自定义滚动条样式*/
.ly-custom-bar {
  overflow: auto;
  overflow-x: overlay;
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: transparent;
  }
}